@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}
.header{
    width: 100%;
    height: 10%;
    background-color: #a9228e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
     height: 100%;
     width: 15%;
}
.header__menu{
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}
.header__menu__enlace{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    outline: 1px solid #fcd2f8;
    position: relative;
    z-index: 1;
}
.header__menu__enlace::before,
.header__menu__enlace::after{
position: absolute;
content: '';
z-index: -1;
top: 0;
left: 0;
width: 0%;
height: 100%;
}
.header__menu__enlace:hover::before{
    width: 100%;
    transition: ease-in-out all 0.5s;
    background-color: #f47ee2;
}
.header__menu__enlace:hover::after{
    width: 100%;
    transition: ease-in-out all 0.5s;
    background-color: #cc2daf;
}
.content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../IMG/creditImg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content__form{
    width: 40%;
    height: 40%;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    backdrop-filter: blur(7px);
    border: solid 1px white;
    box-shadow: 7px 6px 3px #a9228e;
}
.content__form button{
    width: 40%;
    height: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.content__form button::before{
position: absolute;
z-index: -1;
content: '';
width: 100%;
height: 0%;
top: 0;
left: 0;
transition: ease-in-out all 0.7s;
}
.content__form button:hover::before{
    height: 100%;
    transition: ease-in-out all 0.7s;
    background-color: #cc2daf;
}