<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/ViewUsuario.css">
    <title>Usuario</title>
</head>
<body>
    <form id="form-login" class="login" action="">
        <div>
            <label for="">Usuario</label>
            <input name="loginUsuario" type="text">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input name="loginContraseña" type="text">
        </div>
        <button type="button">Iniciar Sesión</button>
        <p id="btnFormLogin">¿No tiene cuenta?</p>
    </form>

    <form id="form-register" class="register" action="">
        <div>
            <label for="">Nombre Completo</label>
            <input name="registerNombre" type="text">
        </div>
        <div>
            <label for="">Usuario</label>
            <input name="registerUsuario" type="text">
        </div>
        <div>
            <label for="">Correo Electronico</label>
            <input name="registerCorreo" type="text">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input name="registerContraseña" type="text">
        </div>
        <div>
            <label for="">Confirmar Contraseña</label>
            <input name="registerConfirmarContr" type="text">
        </div>
        <button type="button">Registrarse</button>
        <p id="btnFormRegister">¿Ya tiene una cuenta?</p>
    </form>
    <script type="module" src="/views/public/JS/Script.js"></script>
</body>
</html>